body{
    max-width: 80%;
    margin: 40px auto;
    background-color: rgb(238, 238, 238);
}

header, main{
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 10px grey;
    padding: 10px;
}

.container{
    margin: 20px 0 20px 0;
}

.form-select{
    width: 20%;
}